body{
	background: #CCCCFF;
	font-weight: bold;
	font-size: 14pt;
	
}
fieldset{
	width:150px;
	display:inline-block;
	border:5px solid #000;
}
.container{
	overflow: hidden;
}
textarea{
	height:400px;
	width:90%;
	font-family:monospace;
	
}